node-red.json
[{"id":"6ec947a1.53bc88","type":"tab","label":"Recorder","disabled":false,"info":""},{"id":"b336e14e.51b16","type":"tab","label":"MQTT Flow","disabled":false,"info":""},{"id":"7dfefb50.31b814","type":"tab","label":"Auth Flow","disabled":false,"info":""},{"id":"716b8c6c.172d24","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"97e41b9a.c8fd08","type":"mqtt-broker","z":"","name":"","broker":"postman.cloudmqtt.com","port":"16535","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c423cd8.9bef83","type":"mongodb","z":"","hostname":"ds139037.mlab.com","port":"39037","db":"heroku_ngtb1hnp","name":"mLab"},{"id":"85c30656.91b7d8","type":"mqtt-broker","z":"","name":"Cloud Mqtt Mine","broker":"postman.cloudmqtt.com","port":"16188","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6b4e556b.e57a3c","type":"mongodb2","z":"","uri":"mongodb://ds139037.mlab.com:39037/heroku_ngtb1hnp","name":"Mongo2 mLab","options":"","parallelism":"-1"},{"id":"47a96eda.a6273","type":"mongodb3","z":"","uri":"mongodb://ds139037.mlab.com:39037/heroku_ngtb1hnp","name":"mLab 3","options":"","parallelism":"-1"},{"id":"adbe744d.804418","type":"mqtt out","z":"6ec947a1.53bc88","name":"Temp","topic":"ADO/357520076774013/COMMAND/TEMP","qos":"2","retain":"","broker":"97e41b9a.c8fd08","x":630,"y":360,"wires":[]},{"id":"1ca2c6b0.43acc9","type":"inject","z":"6ec947a1.53bc88","name":"","topic":"","payload":"","payloadType":"str","repeat":"480","crontab":"","once":false,"onceDelay":"","x":410,"y":400,"wires":[["adbe744d.804418","cd1f0ef8.3aaa1"]]},{"id":"cd1f0ef8.3aaa1","type":"mqtt out","z":"6ec947a1.53bc88","name":"Humid","topic":"ADO/357520076774013/COMMAND/HUMID","qos":"2","retain":"","broker":"97e41b9a.c8fd08","x":630,"y":440,"wires":[]},{"id":"c7ae4531.2662b8","type":"debug","z":"6ec947a1.53bc88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":140,"wires":[]},{"id":"bce843d3.43998","type":"mqtt in","z":"6ec947a1.53bc88","name":"Response for Temprature","topic":"ADO/357520076774013/RESPONSE/TEMP","qos":"2","broker":"85c30656.91b7d8","x":450,"y":220,"wires":[["c7ae4531.2662b8"]]},{"id":"c1999897.5511a8","type":"mqtt in","z":"6ec947a1.53bc88","name":"Response for Humid","topic":"ADO/357520076774013/RESPONSE/HUMID","qos":"2","broker":"85c30656.91b7d8","x":470,"y":140,"wires":[["c7ae4531.2662b8"]]},{"id":"fbaed886.1fc7a8","type":"mqtt in","z":"6ec947a1.53bc88","name":"ADO Related Response","topic":"ADO/#","qos":"2","broker":"85c30656.91b7d8","x":460,"y":60,"wires":[["c7ae4531.2662b8"]]},{"id":"4c51cedc.3b0c6","type":"function","z":"b336e14e.51b16","name":"","func":"let responseCommand = \"ADO/357520076774013/RESPONSE\";\nlet cloudData = {}\nlet obj = msg.payload;\nlet tempKey = Object.keys(obj)[0];\nlet humidKey = Object.keys(obj)[1];\nlet weightKey = Object.keys(obj)[2];\n\nif(typeof(obj) === 'object') {\n    if(tempKey === \"\" || humidKey === \"\") {\n        cloudData.temp = obj[Object.keys(obj)[0]];\n        cloudData.humid = obj[Object.keys(obj)[1]];\n        cloudData.weight = obj[Object.keys(obj)[2]];\n        cloudData.publishedOn = Date.now();\n        \n        msg.payload = cloudData;\n        \n    } else {\n        msg.payload = \"empty\";\n\n    }\n} else {\n    // donothing\n}\n\nmsg.payload = cloudData;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":200,"wires":[["86cbae57.dce26"]]},{"id":"fe446a41.6472b8","type":"debug","z":"b336e14e.51b16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":500,"wires":[]},{"id":"753bef8e.e6e85","type":"debug","z":"b336e14e.51b16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":471.5,"y":139,"wires":[]},{"id":"2da12f4e.903d1","type":"http in","z":"b336e14e.51b16","name":"Fetch Data","url":"/subscribe","method":"get","upload":false,"swaggerDoc":"","x":190,"y":440,"wires":[["676a698a.3544c8"]]},{"id":"d1bd5512.7db5c8","type":"http response","z":"b336e14e.51b16","name":"","statusCode":"","headers":{},"x":730,"y":440,"wires":[]},{"id":"77c0e118.420a","type":"http in","z":"b336e14e.51b16","name":"Send Data","url":"/publish","method":"post","upload":false,"swaggerDoc":"","x":180,"y":860,"wires":[["8815ee5d.47fd","256fc1b6.4ff29e"]]},{"id":"8815ee5d.47fd","type":"mqtt out","z":"b336e14e.51b16","name":"","topic":"ADO/#","qos":"2","retain":"","broker":"97e41b9a.c8fd08","x":470,"y":860,"wires":[]},{"id":"256fc1b6.4ff29e","type":"http response","z":"b336e14e.51b16","name":"","statusCode":"","headers":{},"x":580,"y":820,"wires":[]},{"id":"86cbae57.dce26","type":"debug","z":"b336e14e.51b16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":160,"wires":[]},{"id":"676a698a.3544c8","type":"mongodb in","z":"b336e14e.51b16","mongodb":"c423cd8.9bef83","name":"","collection":"cloudData","operation":"find","x":470,"y":440,"wires":[["d1bd5512.7db5c8","fe446a41.6472b8"]]},{"id":"44467f4c.8b4a3","type":"mqtt in","z":"b336e14e.51b16","name":"","topic":"ADO/#","qos":"2","broker":"97e41b9a.c8fd08","x":130,"y":60,"wires":[[]]},{"id":"3f1b0639.2ee7ea","type":"mqtt out","z":"b336e14e.51b16","name":"","topic":"ADO/357520076774013/COMMAND/TEMP","qos":"2","retain":"","broker":"97e41b9a.c8fd08","x":527,"y":640,"wires":[]},{"id":"b9911985.df2988","type":"inject","z":"b336e14e.51b16","name":"","topic":"","payload":"","payloadType":"str","repeat":"480","crontab":"","once":false,"onceDelay":"","x":190,"y":640,"wires":[["3f1b0639.2ee7ea","c426b195.5fcb5","9f72f7ed.260af8"]]},{"id":"b7265663.a0ef08","type":"mongodb out","z":"b336e14e.51b16","mongodb":"c423cd8.9bef83","name":"","collection":"cloudData","payonly":true,"upsert":false,"multi":false,"operation":"store","x":760,"y":220,"wires":[]},{"id":"c426b195.5fcb5","type":"mqtt out","z":"b336e14e.51b16","name":"","topic":"ADO/357520076774013/COMMAND/HUMID","qos":"2","retain":"","broker":"97e41b9a.c8fd08","x":530,"y":700,"wires":[]},{"id":"72446a03.172414","type":"join","z":"b336e14e.51b16","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":370,"y":200,"wires":[["4c51cedc.3b0c6"]]},{"id":"9f72f7ed.260af8","type":"mqtt out","z":"b336e14e.51b16","name":"","topic":"ADO/357520076774013/COMMAND/WEIGHT","qos":"2","retain":"","broker":"97e41b9a.c8fd08","x":540,"y":580,"wires":[]},{"id":"6fd6a556.deec2c","type":"mqtt in","z":"b336e14e.51b16","name":"Weight","topic":"ADO/357520076774013/RESPONSE/WEIGHT","qos":"2","broker":"85c30656.91b7d8","x":170,"y":140,"wires":[["72446a03.172414"]]},{"id":"7f11e3d.49e201c","type":"mqtt in","z":"b336e14e.51b16","name":"Temprature","topic":"ADO/357520076774013/RESPONSE/TEMP","qos":"2","broker":"85c30656.91b7d8","x":150,"y":200,"wires":[["72446a03.172414"]]},{"id":"f077da28.032af8","type":"mqtt in","z":"b336e14e.51b16","name":"Humid","topic":"ADO/357520076774013/RESPONSE/HUMID","qos":"2","broker":"85c30656.91b7d8","x":170,"y":260,"wires":[["72446a03.172414"]]},{"id":"529eceb7.0d33c","type":"http in","z":"7dfefb50.31b814","name":"Register","url":"/register","method":"post","upload":false,"swaggerDoc":"","x":100,"y":140,"wires":[["c3a10ef7.84ee5"]]},{"id":"b0707f9.a98da8","type":"http response","z":"7dfefb50.31b814","name":"","statusCode":"","headers":{},"x":1490,"y":60,"wires":[]},{"id":"3759c304.b7050c","type":"mongodb2 in","z":"7dfefb50.31b814","service":"_ext_","configNode":"6b4e556b.e57a3c","name":"Validate User","collection":"users","operation":"findOne","x":410,"y":140,"wires":[["6a512548.acc64c"]]},{"id":"c3a10ef7.84ee5","type":"function","z":"7dfefb50.31b814","name":"","func":"msg.user = msg.payload;\n\nvar email = { \"email\": msg.payload.email};\n\nmsg.payload = email;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":140,"wires":[["3759c304.b7050c"]]},{"id":"6a512548.acc64c","type":"switch","z":"7dfefb50.31b814","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":140,"wires":[["ee4e3ff5.8cbb"],["2d3061b.6fd619e"]]},{"id":"2d3061b.6fd619e","type":"function","z":"7dfefb50.31b814","name":"User Exisit","func":"msg.payload = \"Email Address already exist\"\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":200,"wires":[["de53aa5a.38aa78"]]},{"id":"47b80716.157f28","type":"mongodb2 in","z":"7dfefb50.31b814","service":"_ext_","configNode":"6b4e556b.e57a3c","name":"Create User","collection":"users","operation":"insert","x":1070,"y":60,"wires":[["79026df6.e9f9c4"]]},{"id":"de53aa5a.38aa78","type":"http response","z":"7dfefb50.31b814","name":"","statusCode":"","headers":{"Content-Type":"text/plain"},"x":930,"y":200,"wires":[]},{"id":"ee4e3ff5.8cbb","type":"function","z":"7dfefb50.31b814","name":"","func":"msg.payload = msg.user;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":60,"wires":[["9fbe78d7.fd6cd8"]]},{"id":"79026df6.e9f9c4","type":"function","z":"7dfefb50.31b814","name":"Sucess Message","func":"msg.payload = \"User Created\";\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":60,"wires":[["b0707f9.a98da8"]]},{"id":"66c28f40.713c3","type":"inject","z":"716b8c6c.172d24","name":"TestEncrypt","topic":"","payload":"nitin","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":120,"wires":[["ef744910.95f1b8"]]},{"id":"8a1be407.d0b1e8","type":"debug","z":"716b8c6c.172d24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":680,"y":220,"wires":[]},{"id":"18fa5db.abe1aa2","type":"inject","z":"716b8c6c.172d24","name":"TestVerify","topic":"","payload":"{\"txt\":\"nitin\",\"hash\":\"$2a$10$qRSGacHdqubboVd22eVBheLcwLvxuEy7JAmMKoWsSWNdusaEqTq5.\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":240,"wires":[["29514c49.e6b794"]]},{"id":"c56eb10.798745","type":"debug","z":"716b8c6c.172d24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":660,"y":420,"wires":[]},{"id":"ef744910.95f1b8","type":"bcrypt","z":"716b8c6c.172d24","name":"","action":"encrypt","field":"","hash":"payload","rounds":10,"x":500,"y":200,"wires":[["8a1be407.d0b1e8"]]},{"id":"29514c49.e6b794","type":"bcrypt","z":"716b8c6c.172d24","name":"","action":"verify","field":"payload.txt","hash":"payload.hash","rounds":10,"x":490,"y":360,"wires":[["c56eb10.798745"]]},{"id":"9fbe78d7.fd6cd8","type":"bcrypt","z":"7dfefb50.31b814","name":"","action":"encrypt","field":"payload.password","hash":"payload","rounds":10,"x":890,"y":60,"wires":[["47b80716.157f28"]]},{"id":"216de71e.67d218","type":"http in","z":"7dfefb50.31b814","name":"Login","url":"/login","method":"post","upload":false,"swaggerDoc":"","x":170,"y":360,"wires":[["3b561d9d.e73e62"]]},{"id":"72f164d9.46613c","type":"http response","z":"7dfefb50.31b814","name":"","statusCode":"","headers":{},"x":1390,"y":420,"wires":[]},{"id":"8b69947c.9b6978","type":"mongodb2 in","z":"7dfefb50.31b814","service":"_ext_","configNode":"6b4e556b.e57a3c","name":"Validate User","collection":"users","operation":"findOne","x":490,"y":360,"wires":[["4bdf7dc5.d6c164"]]},{"id":"3b561d9d.e73e62","type":"function","z":"7dfefb50.31b814","name":"","func":"msg.user_password = msg.payload.password;\n\nvar email = { \"email\": msg.payload.email};\n\nmsg.payload = email;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":360,"wires":[["8b69947c.9b6978"]]},{"id":"435a13d8.471d2c","type":"function","z":"7dfefb50.31b814","name":"Object to Hash","func":"msg.payload.txt = msg.user_password;\nmsg.payload.hash = msg.payload.password\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":420,"wires":[["23b49545.b7983a"]]},{"id":"23b49545.b7983a","type":"bcrypt","z":"7dfefb50.31b814","name":"","action":"verify","field":"payload.txt","hash":"payload.hash","rounds":10,"x":1030,"y":420,"wires":[["8057fa43.50e428"]]},{"id":"8057fa43.50e428","type":"function","z":"7dfefb50.31b814","name":"Auth Validation","func":"if(msg.match) {\n    msg.payload = {\n        message: \"success\",\n        result: {\n            id: msg.payload._id,\n            name: msg.payload.name,\n            email: msg.payload.email\n        }\n    }\n    msg.statusCode = 200;\n} else if(!msg.match) {\n    msg.payload = \"Incorrect Password\";\n    msg.statusCode = 400\n}\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":420,"wires":[["72f164d9.46613c"]]},{"id":"4bdf7dc5.d6c164","type":"switch","z":"7dfefb50.31b814","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":360,"wires":[["cc104cfe.8fe64"],["435a13d8.471d2c"]]},{"id":"cc104cfe.8fe64","type":"function","z":"7dfefb50.31b814","name":"User Exisit","func":"msg.payload = \"No User Found!\"\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":300,"wires":[["7d798030.e974d"]]},{"id":"7d798030.e974d","type":"http response","z":"7dfefb50.31b814","name":"","statusCode":"","headers":{"Content-Type":"text/plain"},"x":1010,"y":300,"wires":[]}]